#!/usr/bin/env bash
# shx startup bootstrap

die() {
  echo "shx bootstrap: $*" >&2
  exit 15
}

SHX_TMPDIR=$(mktemp -d -t "${0##*/}.XXXXXX") || die "mktemp failed!"

trap "rm -rf '$SHX_TMPDIR'" EXIT

unzip -q "${BASH_SOURCE[0]}" -d "$SHX_TMPDIR" || die "Failed to unzip!"

# Source main in a subshell to keep the EXIT trap, $0 intact, and use the exact
# same bash executable
(source "${SHX_TMPDIR}/%{main}" "$@")

exit $?  # Explicitly exit because after this line comes compressed binary data
